.header {
  padding: 1.25rem;
  background-color: #FFF0ED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__content {
  vertical-align: middle;
}

.header__content--left {
  display: flex;
  flex-direction: row;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav__item {
  display: flex;
  flex-direction: row;
}

.nav__logo {
  width: 3.125rem; /* this does not match the style guide of 120ox, is this ok?*/
  padding: 1.25rem;
  margin: auto;
}

.nav__logo--title {
  text-decoration: none;
  color: #393939;
}

.nav__item--style a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  padding: 1.25rem;
}
.nav__item--style a:hover {
  color: #5BACC3;
}

.main {
  background-color: #FFF0ED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__left {
  flex: 2;
  justify-content: right;
  padding: 10rem;
}

.main__right {
  margin: auto;
  flex: 1;
}

.main__content {
  width: 26rem;
}

.main__image {
  padding: 1.25rem;
  padding-bottom: 2.5rem;
}

.products__header {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: auto;
  background-color: #F7F7F7;
  padding: 2.5rem;
}

.product__background {
  background-color: #F7F7F7;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.product__card {
  background-color: #FFF;
  width: 25rem; /*had to increase the size to fix header number 3 is this OK?*/
  height: 100%; /*had to increase the size to match the ration of the style guide is this OK?*/
  border-radius: 0.625rem;
  box-shadow: 0rem 0.313rem 0.938rem rgba(0, 0, 0, 0.25);
  margin-left: 5rem;
  margin-right: 5rem;
}

.product__box--info {
  background-color: #FFF0ED;
  display: flex;
  padding: 1.25rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.product__box--info > div {
  padding: 1.25rem;
  border-radius: 0.25rem;
}

.product__box--left {
  padding: 1.25rem;
}

.product__box--right {
  flex: 1;
  padding: 0;
  margin: 0;
}

.product__name--description {
  font-size: 1.3125rem;
  color: #909090;
  text-align: left;
}

.product__price {
  color: #5BACC3;
  font-size: 3rem;
  font-weight: 700;
}

.viewall_background {
  background-color: #F7F7F7;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 4rem;
  height: 8rem;
}

.button__container {
  position: relative;
}

.button__background {
  box-sizing: border-box;
  width: 12rem;
  height: 4.5rem;
  background-color: #5BACC3;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.wearedifferent__banner {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20rem;
  padding: 10rem;
}

.wearedifferent__content {
  width: 35rem;
}

.wearedifferent__header {
  padding-bottom: 1.25rem;
}

.minipics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

.minipics--size {
  height: 5rem;
}

.wearedifferent__background {
  background-image: url("/assets/images/coldbrewbackground.png");
  width: 25rem;
  height: 25rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wearedifferent__border {
  box-sizing: border-box;
  border: 4px solid #5BACC3;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 2;
}

.wearedifferent__description {
  padding-bottom: 1.25rem;
}

.wearedifferent__background:hover .image__animation {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.discountheader {
  padding: 10rem;
  background-color: #FFF;
}

.discountheader__text {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  background-color: #393939;
  color: #FFF;
  padding: 1.25rem;
  margin: auto;
  transition-duration: infinite;
  transition-delay: 1s;
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #393939;
  }
  100% {
    background-color: #5BACC3;
  }
}
.discountheader__text--style {
  font-weight: 600;
}

.contact__header {
  background-color: #FFF0ED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10rem;
  position: relative;
}

.contact__box {
  width: 25rem;
  padding: 5rem;
}

.contact__type {
  padding-bottom: 1.25rem;
  font-size: 2.0625rem;
  font-weight: 300;
  text-align: left;
}

.contact__info {
  text-align: left;
  font-size: 1.4rem;
}

.contact__icon {
  width: 4rem;
  height: 4rem;
}

.contact__logo--1 {
  width: 7.5rem;
  height: 7.5rem;
  opacity: 25%;
  display: flex;
  position: absolute;
  overflow: hidden;
  left: -2rem;
  top: 1rem;
}

.contact__logo--2 {
  width: 7.5rem;
  height: 7.5rem;
  opacity: 25%;
  display: flex;
  position: absolute;
  overflow: hidden;
  right: -2rem;
  bottom: 1rem;
}/*# sourceMappingURL=landing.css.map */